body {
    background: url('assets/images/WebPage_Background_D.jpg') no-repeat center center fixed;
    color: rgb(0,0,0);
    text-align: center;
    overflow: hidden;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}